.domanda-scelta-singola {
  border: 2px solid #ddd;
  padding: 20px;
  border-radius: 12px;
  background-color: #fafafa;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.domanda-scelta-singola .prologo {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #444;
  font-family: "Arial Italic", sans-serif;
}
.domanda-scelta-singola .testo {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #222;
  font-family: "Arial", sans-serif;
}
.scelte {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.domanda-scelta-singola .scelta {
  background: transparent;
  border: 2px dashed #ccc;
  color: #666;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.9rem;
  width: auto;
}
/* .scelta:hover {
    border-color: #888;
    color: #333;
    background-color: #f0f0f0;
} */
.blank-underline {
  border-bottom: 2px solid #000;
  padding-bottom: 1px;
  font-weight: bold;
}
.domanda-scelta-singola .corretta {
  color: green;
  background-color: palegreen;
  border-color: green;
  font-weight: bold;
}
.domanda-scelta-singola .errata {
  color: red;
  background-color: #f8d7da;
  border-color: red;
  font-weight: bold;
}
